<div class="layoutDub">
<div class="holder position0">{% render "CoachellaUserBundle:CMS:imageDisplay" with {"id":"31",} %}</div>
<div class="holder position1">{% render "CoachellaUserBundle:CMS:showText" with {"id":"32",} %}</div>
</div>
