<div style="clear: both; background: url({{ asset('bundles/coachella/images/footerbottom.jpg') }}) center bottom no-repeat;">
		<div style="width: 962px; margin: 0px auto;">
			<img src="{{ asset('bundles/coachella/images/email.png') }}" />
			<img src="{{ asset('bundles/coachella/images/coachellauser.png') }}" />
		</div>
		<div style="height: 340px; width: 1000px; margin: 0px auto;">
			place holder for footer menus
		</div>
	</div>