<div id="mainNav">
	<div id="weekends">
		{% render 'CoachellaUserBundle:Default:weekends' %}
	</div>
	<div class="countdown">
		<h2>COUNTDOWN</h2>
		<h1>{% render 'CoachellaUserBundle:Default:countdown' %}</h1>
	</div>
	<div class="menu">
		{% include 'CoachellaUserBundle:Default:mainNav.html.twig' %}
		<div style="clear: both;"></div>
	</div>
	<div style="clear: both;"></div>
</div>